<div *ngFor="let project of projects">
    <h3 class="headline">{{ project.name }} - {{ project.headline }}</h3>
    <div class="ProjectContentContainer">
        <figure class="figureContainer">
            <img src="{{ project.imgSrc }}" class="img">
            <div class="imgOverlay">
                <p class="overlayTxt">{{ project.name }} - {{ project.typeWritten }}</p>
                <div class="underline"></div>
                <button class="overlayBtn" matRipple>Try it Yourself!</button>
            </div>
        </figure>
        <div class="projectDescriptionContainer">
            <p class="projectDescription">
                {{ project.description }}
            </p>
            <div class="actionBtn">
                <button mat-flat-button>Try it Yourself!</button>
            </div>

        </div>
    </div>
</div>