<div class="projectContainer" *ngFor="let project of projects">
    <h3 class="headline darkBlueTxt">{{ project.name }} - {{ project.headline }}</h3>
    <div class="ProjectContent">
        <figure class="figureContainer">
            <img src="{{ project.imgSrc }}">
            <div class="imgOverlay">
                <p class="overlayTxt redTxt">{{ project.name }} - {{ project.typeWritten }}</p>
                <div class="redUnderline margin-bot-8"></div>
                <button mat-flat-button class="btn">Try it Yourself!</button>
            </div>
        </figure>

        <div class="projectDescriptionContainer">
            <p class="projectDescription darkBlueTxt">
                {{ project.description }}
            </p>
            <div class="actionBtn btnBorderRadius">
                <button mat-flat-button>Try it Yourself!</button>
            </div>

        </div>
    </div>
</div>