<div class="projectContainer" *ngFor="let project of projects">
    <h3 class="headline darkBlueTxt">{{ project.name }} - {{ project.headline }}</h3>
    <div class="ProjectContent">
        <figure class="figureContainer">
            <img class="img" src="{{ project.imgSrc }}">
            <div class="imgOverlay">
                <p class="overlayTxt redTxt">{{ project.name }} - {{ project.typeWritten }}</p>
                <div class="redUnderline margin-bot-8"></div>
                <a class="btn" mat-flat-button [href]="project.url" target="_blank" rel='noopener noreferrer'>Try it
                    Yourself!</a>
            </div>
        </figure>

        <div class="projectDescriptionContainer">
            <p class="projectDescription darkBlueTxt">
                {{ project.description }}
            </p>
            <div class="actionBtn btnBorderRadius">
                <a class="btn" mat-flat-button [href]="project.url" target="_blank" rel='noopener noreferrer'>Try it
                    Yourself!</a>
            </div>

        </div>
    </div>
</div>