/*
  Section About
*/

.personContainer {
  display: flex;
  flex-direction: row;

  .ericImg {
    width: 300px;
    border-radius: 20%;
  }

  .skillsContainer {
    width: 100%;
    min-width: 40rem;
    padding: 32px;
  }
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personIcons {
  display: flex;
  flex-wrap: wrap;
}

//  dark blue: #02043c
//  red: #c00
