<app-section-heading [heading]="heading_0"></app-section-heading>

<div class="personContainer">
    <div class="flex-column-center text-center" inViewport [inViewportOptions]="{ threshold: [1] }"
        (inViewportAction)="onIntersection($event)"
        [ngClass]="{'animate__animated animate__fadeInLeft': ericContVisible}">
        <img [src]="ericImgUrl" class="ericImg">
        <h3>Who's <span>Eric</span>?</h3>
        <p>
            I'm a Front-End Developer currently located in Vienna, Austria.<br>
            I have a passion for technology, creating intuitive UI and making innovation happen.
        </p>
    </div>
    <app-skills class="skillsContainer"></app-skills>
</div>
<div class="pictograms">
    <app-pictograms class="app-pictograms"></app-pictograms>
</div>