/*
  Navbar
*/

.navBar {
  background-color: #02043c;
  color: white;
  height: 5vh;
  text-transform: uppercase;
  border-bottom: 4px solid green;
  margin-bottom: 8px;

  .navItem {
    cursor: pointer;
    transition: all 225ms ease-in-out;
  }
}

.bigView {
  display: none;

  .flex-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.smallView {
  display: default;

  .flex-center-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

a:hover {
  color: #c00;
}



/*
  Section About
*/

.matDrawerContent {
  display: initial;
}

.personContainer {
  display: flex;
  flex-direction: row;

  .ericImg {
    width: 300px;
    border-radius: 20%;
  }

  .skillsContainer {
    width: 100%;
    min-width: 40rem;
    padding: 32px;
  }
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personIcons {
  display: flex;
  flex-wrap: wrap;
}

//  dark blue: #02043c
//  red: #c00
