// .bgContainer {
//   // height: 93vh;
// }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .ericImg {
    width: 300px;
  }

  .personTxt {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      overflow-wrap: break-word;
      max-width: 22rem;
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}

.email {
  margin: 32px;
  font-size: 1.1rem;
  display: flex;

  .emailIcon {
    margin-right: 8px;
    vertical-align: sub;
  }
}

.links {
  flex-wrap: wrap;
  margin: 32px;
  display: flex;
  justify-content: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  border: 2px solid white;
  width: 6rem;
  height: 6rem;
}

@media only screen and (max-width: 830px) {
  .person {
    flex-direction: column;
  }

  .ericImg {
    width: 200px !important;
  }


}