<div class="bgContainer">
    <app-section-heading [heading]="heading"></app-section-heading>
    <div class="content">
        <div class="person">
            <figure>
                <img [src]="ericImgUrl" class="ericImg">
            </figure>
            <div class="personTxt">
                <h3 class="redTxt">Eric Bruch</h3>
                <p>
                    <q>Let's start to add something new to this world!</q>
                </p>
            </div>

        </div>
        <div class="email" matTooltip="Write me an eMail">
            <mat-icon class="emailIcon">email</mat-icon> <a
                href="mailto:eric.bruch@outlook.de">Eric.Bruch@outlook.de</a>
        </div>

        <div class="links">
            <figure class="linkContainer backgroundDarkBlue" matTooltip="Contact me on linkedin">
                <a [href]="linkedInEricUrl" target="_blank" rel='noopener noreferrer'>
                    <img src="assets/pictures/icons/linkedin.png" class="link">
                </a>
            </figure>

            <figure class="linkContainer backgroundDarkBlue" matTooltip="Check out my GitHub Projects">
                <a [href]="gitHubEricUrl" target="_blank" rel='noopener noreferrer'>
                    <img src="assets/pictures/icons/github.png" class="link">
                </a>
            </figure>
        </div>

    </div>
</div>
<!--     www.linkedin.com/in/eric-bruch    -->