<div class="bgContainer">
    <app-section-heading [heading]="heading"></app-section-heading>
    <div class="content">
        <div class="person">
            <figure class="animate__animated animate__fadeInLeft">
                <img [src]="ericImgUrl" class="ericImg imgBorder">
            </figure>
            <div class="personTxt animate__animated animate__fadeInRight">
                <h3 class="redTxt">Eric Bruch</h3>
                <p>
                    <i>Let's start to add something new to this world!</i>
                </p>
            </div>

        </div>
        <div class="email animate__animated animate__fadeInLeft" matTooltip="Write me an eMail">
            <mat-icon class="emailIcon">email</mat-icon> <a
                href="mailto:eric.bruch@outlook.de">Eric.Bruch@outlook.de</a>
        </div>

        <div class="links">
            <figure class="linkContainer backgroundDarkBlue animate__animated animate__fadeInLeft" matTooltip="Contact me on linkedin">
                <a [href]="linkedInUrlEric" target="_blank" rel='noopener noreferrer'>
                    <img [src]="linkedInImgSrc" class="link">
                </a>
            </figure>

            <figure class="linkContainer backgroundDarkBlue animate__animated animate__fadeInRight" matTooltip="Check out my GitHub Projects">
                <a [href]="githubUrlEric" target="_blank" rel='noopener noreferrer'>
                    <img [src]="githubImgSrc" class="link">
                </a>
            </figure>
        </div>

    </div>
</div>