.landingContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  #ptsAnimation {
    height: 100vh;
    width: 100vw;
    box-sizing: content-box;
  }

  .landingTextContainer {
/*     width: 300px;
    height: 100px;
    background-color: #02043c; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2.5rem;
    color: white;

    .greeting {
      margin-top: 0;
      margin-bottom: 16px;
      text-align: center;
      .nameColor {
        color: #c00;
        font-size: 3rem;
        background-color: #02043c;
      }
    }

    .aboutMeLink {
        padding: 8px;
        border: 1px solid white;
        border-radius: 25px;
        background-color: #02043c;
        cursor: pointer;
    }
    .aboutMeLink:hover {
        background-color: #c00;
    }
  }
}
