.landingContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  #ptsAnimation {
    height: 100%;
    width: 100%;
  }

  .landingTextContainer {
    font-size: 2.4rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-size: 2.5rem;
    color: var(--white);
  }
}

.nameTxt {
  margin: 0px;
  overflow-wrap: break-word;
  line-height: 2.4rem;
}

.devTxt {
  background-color: var(--darkBlue);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 2.4rem;
}

.btn {
  font-size: 1.5rem;
  line-height: 1.4rem;
}
