<ng-template [ngIf]="router.url !=='/about' && router.url !=='/portfolio' && router.url !=='/contact'">
    <router-outlet></router-outlet>
</ng-template>

<ng-template [ngIf]="router.url ==='/about' || router.url === '/portfolio' || router.url === '/contact'">
    <mat-drawer-container [hasBackdrop]="true">
        <!--    Sidebar content     -->
        <mat-drawer #sidebar [mode]="'over'" class="sidebarContainer">
            <div class="home backgroundDarkBlue navBarUnderline navBarHeight">
                <button routerLink="/" mat-icon-button aria-label="home-button">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div class="sidebarNavItems">
                <a class="sidebarNavItem backgroundDarkBlue whiteTxt" [class.redTxt]="isAbout" mat-raised-button
                    routerLink="/about">About</a>
                <a class="sidebarNavItem backgroundDarkBlue whiteTxt" [class.redTxt]="isPortfolio" mat-raised-button
                    routerLink="/portfolio">Portfolio</a>
                <a class="sidebarNavItem backgroundDarkBlue whiteTxt" mat-raised-button
                    routerLink="/contact">Contact</a>
            </div>
        </mat-drawer>

        <!--    Content mat-drawer  -->
        <mat-drawer-content class="matDrawerContent">

            <!--    navbar  -->
            <div class="bigView">
                <nav class="navBar navBarUnderline navBarHeight flex-center">
                    <a routerLink="/" class="navItem">home</a>
                    <a routerLink="/about" class="navItem" [class.redTxt]="isAbout">about</a>
                    <a routerLink="/portfolio" class="navItem" [class.redTxt]="isPortfolio">portfolio</a>
                    <a routerLink="/contact" class="navItem">contact</a>
                </nav>
            </div>

            <div class="smallView">
                <nav class="navBar navBarHeight navBarUnderline flex-center-right">
                    <button class="smallView" mat-icon-button (click)="sidebar.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </nav>
            </div>
            <!-- ############  -->
            <div class="BgContainer">
                <div class="sectionContainer">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</ng-template>