/*
  Navbar
*/

.navBar {
  background-color: #02043c;
  color: white;
  height: 5vh;
  text-transform: uppercase;
  border-bottom: 4px solid green;
  margin-bottom: 8px;
  position: fixed;
  width: 100%;
  z-index: 2;

  .navItem {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    text-decoration: unset;
    color: var(--white);
  }
}

.bigView {
  display: default;

  .flex-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.smallView {
  display: none;

  .flex-center-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

a:hover {
  color: var(--red) !important;
  // background-color: var(--darkBlue);
}

.matDrawerContent {
  display: initial;
}

.sectionContainer {
  padding: 7rem;
}
