<ng-template [ngIf]="router.url !=='/about' && router.url !=='/portfolio'">
    <router-outlet></router-outlet>
</ng-template>

<ng-template [ngIf]="router.url ==='/about' || router.url === '/portfolio'">
    <mat-drawer-container [hasBackdrop]="true">
        <!--    Sidebar content     -->
        <mat-drawer #sidebar [mode]="'over'">
            <p>Hello I'm there</p>
            <a mat-raised-button routerLink="/">Landing</a>
            <a mat-raised-button routerLink="/about">About</a>
            <a mat-raised-button routerLink="/portfolio">About</a>
        </mat-drawer>

        <!--    Content mat-drawer  -->
        <mat-drawer-content class="matDrawerContent">

            <!--    navbar  -->
            <div class="bigView">
                <nav class="navBar flex-center">
                    <a routerLink="/" class="navItem">home</a>
                    <a routerLink="/about" class="navItem">about</a>
                    <a routerLink="/portfolio" class="navItem">portfolio</a>
                    <a class="navItem">contact</a>
                </nav>
            </div>

            <div class="smallView">
                <nav class="navBar flex-center-right">
                    <button class="smallView" mat-icon-button (click)="sidebar.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </nav>
            </div>
            <!-- ############  -->
            <div class="sectionContainer">
                <router-outlet></router-outlet>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
</ng-template>