<div class="skillContainer">
    <div *ngFor="let skill of skills; index as i" inViewport
        [inViewportOptions]="{ threshold: [1] }" (inViewportAction)="onIntersection($event, i)"
        class="skill text-center invisible">
        <div class="skillLabel flex-center">
            {{ skill.label }}
        </div>
        <div class="skillProgressBarContainer">
            <div [style.width]="skill.skillLevel" class="skillProgressBar"></div>
        </div>
        <div class="skillLevel flex-center m-q-display">
            {{ skill.skillLevel }}
        </div>
    </div>
    <!--     [ngClass]="{'animate__animated animate__fadeInLeft': ericContVisible}"  -->
</div>