.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  min-height: 450px;
  font-size: 1.1rem;
  max-width: 55rem;
}

.skill {
  --skillHeight: 30px;
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-bottom: 16px;
  height: var(--skillHeight);
  width: 100%;
  color: var(--darkBlue);
  width: 100%;

  .skillLabel {
    width: 20%;
    height: var(--skillHeight);
    background-color: var(--white);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .skillProgressBarContainer {
    height: var(--skillHeight);
    width: 70%;
    background-color: rgba(2, 4, 60, 0.08);

    .skillProgressBar {
      height: var(--skillHeight);
      //   width: 10%;
      background-color: var(--darkBlue);
    }
  }

  .skillLevel {
    width: 10%;
    height: var(--skillHeight);
    background-color: var(--white);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
