.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-size: 1.0rem;
  max-width: 55rem;
  width: auto;
}

.skill {
  --skillHeight: 2rem;
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-bottom: 22px;
  height: var(--skillHeight);
  color: var(--darkBlue);

  .skillLabel {
    width: 10rem;
    height: var(--skillHeight);
    background-color: var(--white);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .skillProgressBarContainer {
    height: var(--skillHeight);
    width: 70%;
    background-color: rgba(2, 4, 60, 0.08);

    .skillProgressBar {
      height: var(--skillHeight);
      //   width: 10%;
      background-color: var(--darkBlue);
    }
  }

  .skillLevel {
    width: 4rem;
    height: var(--skillHeight);
    background-color: var(--white);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .skillContainer {
    font-size: 0.9rem;
  }
}