<div class="pictogramsContainer">

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/graduation-cap.png">
        </figure>
        <h3>
            Graduation M.Sc. in Information Systems
        </h3>
        <p>Getting a theoretical understanding of the business world and IT systems </p>
    </div>

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/bug.png">
        </figure>
        <h3>
            Working as Tester & Test automation Engineer
        </h3>
        <p>
            Worked in testing / Testautomation
        </p>
    </div>

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/laptop.png">
        </figure>
        <h3>
            Joined professional coding Academy
        </h3>
        <p>
            Lorem Ipsum Dommo estas fugutiva
        </p>
    </div>

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/rocket.png">
        </figure>
        <h3>
            Creation of a hands-on portfolio
        </h3>
        <p>
            Dommo Aligato Mr. Roboto
        </p>
    </div>

</div>