<div class="pictogramsContainer">

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/graduation-cap.png">
        </figure>
        <div class="textContainer">
            <h3>
                Graduation M.Sc. in Information Systems
            </h3>
            <p>Getting a theoretical understanding of the business world and IT systems </p>
        </div>
    </div>

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/bug.png">
        </figure>
        <div class="textContainer">
            <h3>
                Working in Quality Assurance
            </h3>
            <p>
                Working as a manual software tester and a test automation engineer
                in different agile projects, gave me a deeper understanding on how
                software is created and the importance of software quality.
            </p>
        </div>
    </div>

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/laptop.png">
        </figure>
        <div class="textContainer">
            <h3>
                Joined professional coding Academy
            </h3>
            <p>
                I joined a professional coding academy to improve my coding skills focusing on Web Development with HTML
                /
                CSS / JS and Angular
            </p>
        </div>
    </div>

    <div class="pictogramContainer">
        <figure class="pictogram">
            <img src="assets/pictures/icons/rocket.png">
        </figure>
        <div class="textContainer">
            <h3>
                Creation of a hands-on portfolio
            </h3>
            <p>
                To improve my skills I created a number of real world applications that can be seen in my portfolio.
            </p>
        </div>
    </div>

</div>