<div class="pictogramsContainer">

    <div class="pictogramContainer invisible" #pictogram1 inViewport [inViewportOptions]="{ threshold: 0 }"
        (inViewportAction)="onIntersectionPicto1($event)"
        [ngClass]="{'animate__animated animate__fadeInLeft': pictogram1Visible}" [class.invisible]="pictogram1Hidden">
        <figure class="pictogram">
            <img src="assets/pictures/icons/graduation-cap.png">
        </figure>
        <div class="textContainer">
            <h3>
                Graduation M.Sc. in Information Systems
            </h3>
            <p>Getting a theoretical understanding of the business world and IT systems. I chose a specialisation in
                Engineering and worked in my master thesis with flask to create a mvp of an open data quiz application
            </p>
        </div>
    </div>

    <div class="pictogramContainer invisble" #pictogram2 inViewport [inViewportOptions]="{ threshold: [1] }"
        (inViewportAction)="onIntersectionPicto2($event)"
        [ngClass]="{'animate__animated animate__fadeInLeft': pictogram2Visible}" [class.invisible]="pictogram2Hidden">
        <figure class="pictogram">
            <img src="assets/pictures/icons/bug.png">
        </figure>
        <div class="textContainer">
            <h3>
                Working in Quality Assurance
            </h3>
            <p>
                Working as a manual software tester and a test automation engineer
                in different agile projects, gave me a deeper understanding on how
                software is created and the importance of software quality.
            </p>
        </div>
    </div>

    <div class="pictogramContainer" #pictogram3 inViewport [inViewportOptions]="{ threshold: [1] }"
        (inViewportAction)="onIntersectionPicto3($event)"
        [ngClass]="{'animate__animated animate__fadeInLeft': pictogram3Visible}" [class.invisible]="pictogram3Hidden">
        <figure class="pictogram">
            <img src="assets/pictures/icons/laptop.png">
        </figure>
        <div class="textContainer">
            <h3>
                Joined professional coding Academy
            </h3>
            <p>
                I joined a professional coding academy to improve my coding skills focusing on Web Development with HTML
                /
                CSS / JS and Angular.
            </p>
        </div>
    </div>

    <div class="pictogramContainer" inViewport [inViewportOptions]="{ threshold: [1] }"
        (inViewportAction)="onIntersectionPicto4($event)"
        [ngClass]="{'animate__animated animate__fadeInLeft': pictogram4Visible}" [class.invisible]="pictogram4Hidden">
        <figure class="pictogram">
            <img src="assets/pictures/icons/rocket.png">
        </figure>
        <div class="textContainer">
            <h3>
                Creation of a hands-on portfolio
            </h3>
            <p>
                To improve my coding skills I trained on real practical projects. The applications that I created can be
                seen in my portfolio with a description.
            </p>
        </div>
    </div>

</div>