/*
  Section Header
*/

.sectionHeadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 2.4rem;
  
    .sectionHeading {
      margin-bottom: 10px;
      color: var(--red);
    }
  
    .headerLine {
      width: 40px;
      height: 3px;
      background-color: var(--red);
    }
  }