// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: "Raleway",
);

@include angular-material-typography($custom-typography);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ericPortfolio-primary: mat-palette($mat-indigo);
$ericPortfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ericPortfolio-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ericPortfolio-theme: mat-light-theme(
  (
    color: (
      primary: $ericPortfolio-primary,
      accent: $ericPortfolio-accent,
      warn: $ericPortfolio-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ericPortfolio-theme);

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Raleway, sans-serif !important;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
  Own styles
*/

:root {
  --white: #ffffff;
  --darkBlue: #02043c;
  --red: #c00;
  --green: #06ac0c;
  --darkcyan: #008b8b;

  // --textSize: 2.4rem;
}

.darkBlueTxt {
  color: var(--darkBlue);
}

.whiteTxt {
  color: var(--white);
}

.redTxt {
  color: var(--red);
}

.backgroundDarkBlue {
  background-color: var(--darkBlue) !important;
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent !important;
  color: red !important;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible {
  opacity: 0;
}

.padding-16 {
  padding: 16px;
}

.margin-8 {
  margin: 8px !important;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-bot-8 {
  margin-bottom: 8px;
}


.redUnderline {
  width: 40px;
  height: 3px;
  background-color: var(--red);
}

.btnBorderRadius {
  border-radius: 10px;
}

.btn {
  border: 1px solid var(--white);
  background-color: var(--darkBlue);
  color: var(--white);
  border-radius: 10px;

  &:hover {
    color: var(--red);
  }
}
